.site__header,
.site__content,
.site__footer {
  display: flex;
  max-width: 46em;
  margin: 0 auto;
}
.site__posts-list {
  list-style-type: none;
}
footer {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}
footer div {
  align-self: flex-start;
  min-width: 33%;
}
.site__content {
  padding: 0 1.25em;
}